body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E0E1DD;
  /* background: rgb(195, 205, 219); */
}

body::-webkit-scrollbar {
    display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.textarea {
  resize: none;
}
.fw-bold {
font-weight: bold;
}

.icon:hover{
  color: rgba(146, 146, 146, 0.75);
}
